<%- include('partials/head')%>

    <%- include('partials/navbar')%>

        <h1>The Home Page <%= 'hello world' .toUpperCase()%>
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit neque, fugit ut, mollitia culpa
            placeat
            sint alias totam repudiandae ipsam quos, aperiam eos vitae natus ullam ab! Beatae, optio blanditiis?
            Lorem
            ipsum
            dolor, sit amet consectetur adipisicing elit. Delectus ipsum optio voluptate eaque. Culpa mollitia quam,
            beatae
            obcaecati blanditiis repudiandae at quidem voluptates veritatis eligendi magnam quas alias voluptatibus
            minus?
        </p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae fuga beatae possimus omnis id vero, et
            numquam
            quam nihil, quaerat pariatur sapiente minima, atque magnam voluptate dolorem temporibus eius enim.</p>
        <%- include('partials/footer')%>